@import "../../../node_modules/bootstrap/scss/bootstrap";

$primary-color: #ff6600;
$border-radius: 10px;
$bg-default: #f5f5f5;

@font-face {
  font-family: 'IRANSansWeb';
  src: url('../fonts/IRANSansWeb.woff2') format('woff2'),
       url('../fonts/IRANSansWeb.woff') format('woff'),
       url('../fonts/IRANSansWeb(FaNum).ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'IRANSansWeb', sans-serif;
  background-color: #F8F7F3;
  direction: rtl;
}
.form-select{
  direction: rtl;
  background-position: left 0.75rem center !important;
  color: #5c5d5e;
}
